<h2> Score: {{currentScore}}</h2>
<h2>Question : {{currentQuestionIndex}}/{{questionLength}}</h2>

<canvas id="canvas" width="400" height="400"
  style="background-color:#333">
</canvas>
<h3>What time is it ?</h3>
{{currentQuestion.time_to_display}}

<button *ngFor="let opt of currentQuestion.options" (click)="submit(opt)" >
  {{opt}}
</button>